# ***Data Types and Structures Questions***

# ***theory***

# What are data structures, and why are they important?
* Data structures are ways to organize and store data in a computer so it can be accessed and modified efficiently.
* They are important because they help manage large amounts of data efficiently for operations like searching, sorting, insertion, and deletion.

# Difference between mutable and immutable data types with examples
Mutable: Can be changed after creation.
Example: list, dict, set

In [1]:
l = [1, 2, 3]
l[0] = 100

Immutable: Cannot be changed after creation.
Example: int, str, tuple

In [2]:
t = (1, 2, 3)
t[0] = 100

TypeError: 'tuple' object does not support item assignment

#  What are the main differences between lists and tuples in Python?
| Feature     | List         | Tuple       |
| ----------- | ------------ | ----------- |
| Syntax      | `[1, 2, 3]`  | `(1, 2, 3)` |
| Mutable     | Yes          | No          |
| Performance | Slower       | Faster      |
| Use Case    | Dynamic data | Fixed data  |

#  Describe how dictionaries store data
Dictionaries store data as key-value pairs using a hash table internally.

In [5]:
student = {"name": "Alice", "age": 20}
student

{'name': 'Alice', 'age': 20}

#  Why might you use a set instead of a list in Python?
Sets:

* Automatically remove duplicates
* Offer faster membership tests
Use when uniqueness matters

In [6]:
names = set(["Alice", "Bob", "Alice"])
names

{'Alice', 'Bob'}

#  What is a string in Python, and how is it different from a list?
* A string is an immutable sequence of characters: "hello"
* A list is a mutable sequence: ['h', 'e', 'l', 'l', 'o']
* You can change list items, but not string characters.

#  How do tuples ensure data integrity in Python?
* Tuples are immutable, so once created, their content cannot be modified, making them safe for storing fixed or secure data like database keys.

#  What is a hash table, and how does it relate to dictionaries in Python?
* A hash table maps keys to values using a hash function.
* Python’s dict uses hash tables internally, enabling fast lookups (O(1)).

#  Can lists contain different data types in Python?
Yes. Python lists are heterogeneous

In [7]:
mixed = [1, "hello", True, 3.14]
mixed

[1, 'hello', True, 3.14]

# Explain why strings are immutable in Python
Strings are immutable to:
* Improve performance and memory sharing
* Ensure data safety when used as keys or shared across functions

#  What advantages do dictionaries offer over lists for certain tasks?
* Faster lookups by key
* Better organization using named keys

In [8]:
user = {"id": 1, "name": "Tom"}
user

{'id': 1, 'name': 'Tom'}

# Describe a scenario where using a tuple would be preferable over a list
1. Use a tuple when:
* Data should not change
* It’s used as a dictionary key or in sets
Example: GPS coordinates (19.07, 72.87)

# How do sets handle duplicate values in Python?
* Sets automatically remove duplicates
* it is unordered and unique

In [9]:
set([1, 2, 2, 3])

{1, 2, 3}

#  How does the in keyword work differently for lists and dictionaries?
* For lists: checks if value exists
* For dicts: checks if key exists

In [10]:
3 in [1, 2, 3]
'name' in {'name': 'A'}

True

#   Can you modify the elements of a tuple? Explain why or why not
* No, tuples are immutable.
* You cannot change, add, or delete elements after creation.

#   What is a nested dictionary, and give an example of its use case
 * A nested dictionary is a dictionary within another dictionary.

In [11]:
students = {
    "101": {"name": "Alice", "age": 20},
    "102": {"name": "Bob", "age": 22}
}
students

{'101': {'name': 'Alice', 'age': 20}, '102': {'name': 'Bob', 'age': 22}}

#   Describe the time complexity of accessing elements in a dictionary
Access time is O(1) on average, due to hash table implementation.

#   In what situations are lists preferred over dictionaries?
**Use a list when:**
* Order matters
* You only need indexed items
* No key-value mapping is needed

#  Why are dictionaries considered unordered, and how does that affect data retrieval?
* Before Python 3.7, dicts were unordered. Now they preserve insertion order, but retrieval is still by key, not position.

#  Explain the difference between a list and a dictionary in terms of data retrieval
| Feature      | List         | Dictionary          |
| ------------ | ------------ | ------------------- |
| Retrieval    | By **index** | By **key**          |
| Syntax       | `list[0]`    | `dict['key']`       |
| Access Speed | O(1)         | O(1) (average case) |
| Use Case     | Ordered data | Named (mapped) data |

# ***program***

In [12]:
# 1. Create a string with your name and print it
name = "hi me mehul"
print(name)

hi me mehul

In [13]:
# 2. Find the length of the string "Hello World"
print(len("Hello World"))

11

In [14]:
# 3. Slice the first 3 characters from "Python Programming"
print("Python Programming"[:3])

Pyt

In [15]:
# 4. Convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [16]:
# 5. Replace "apple" with "orange"
print("I like apple".replace("apple", "orange"))

I like orange

In [17]:
# 6. Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [18]:
# 7. Append 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [19]:
# 8. Remove 3 from the list [1, 2, 3, 4, 5]
lst2 = [1, 2, 3, 4, 5]
lst2.remove(3)
print(lst2)

[1, 2, 4, 5]

In [20]:
# 9. Access the second element in ['a', 'b', 'c', 'd']
chars = ['a', 'b', 'c', 'd']
print(chars[1])

b

In [21]:
# 10. Reverse the list [10, 20, 30, 40, 50]
rev_list = [10, 20, 30, 40, 50]
rev_list.reverse()
print(rev_list)

[50, 40, 30, 20, 10]

In [22]:
# 11. Create a tuple with 100, 200, 300 and print it
tpl = (100, 200, 300)
print(tpl)

(100, 200, 300)

In [23]:
# 12. Access second-to-last element of ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [24]:
# 13. Find min number in (10, 20, 5, 15)
print(min((10, 20, 5, 15)))

5

In [25]:
# 14. Find index of "cat" in ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [26]:
# 15. Tuple with fruits, check if "kiwi" is in it
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

In [27]:
# 16. Create a set with 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'c', 'a', 'b'}

In [28]:
# 17. Clear all elements from {1, 2, 3, 4, 5}
s2 = {1, 2, 3, 4, 5}
s2.clear()
print(s2)

set()

In [29]:
# 18. Remove 4 from {1, 2, 3, 4}
s3 = {1, 2, 3, 4}
s3.remove(4)
print(s3)

{1, 2, 3}

In [30]:
# 19. Union of {1, 2, 3} and {3, 4, 5}
print({1, 2, 3}.union({3, 4, 5}))

{1, 2, 3, 4, 5}

In [31]:
# 20. Intersection of {1, 2, 3} and {2, 3, 4}
print({1, 2, 3}.intersection({2, 3, 4}))

{2, 3}

In [32]:
# 21. Create dictionary with "name", "age", "city"
person = {"name": "John", "age": 30, "city": "New York"}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [33]:
# 22. Add "country": "USA" to {'name': 'John', 'age': 25}
person2 = {'name': 'John', 'age': 25}
person2["country"] = "USA"
print(person2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [34]:
# 23. Access value of "name" in {'name': 'Alice', 'age': 30}
info = {'name': 'Alice', 'age': 30}
print(info["name"])

Alice

In [35]:
# 24. Remove "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}
student = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del student["age"]
print(student)

{'name': 'Bob', 'city': 'New York'}

In [36]:
# 25. Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [37]:
# 26. Create and print list, tuple, and dictionary
lst = [1, 2, 3]
tpl = (4, 5, 6)
dct = {"a": 1, "b": 2}
print(lst, tpl, dct)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [38]:
# 27. List of 5 random numbers between 1-100, sorted
import random
rand_list = random.sample(range(1, 101), 5)
rand_list.sort()
print(rand_list)

[1, 38, 46, 61, 82]

In [39]:
# 28. List with strings, print element at index 3
str_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(str_list[3])

date

In [40]:
# 29. Combine two dictionaries and print
d1 = {"x": 1, "y": 2}
d2 = {"y": 3, "z": 4}
combined = {**d1, **d2}
print(combined)

{'x': 1, 'y': 3, 'z': 4}

In [41]:
# 30. Convert a list of strings into a set
strs = ["a", "b", "a", "c"]
unique_set = set(strs)
print(unique_set)

{'c', 'a', 'b'}